*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #4A4A4A;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container{
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.header__top{
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
}

.menu__link{
  margin-left: 30px;
}
.menu-burger__header{
  display: none;
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 1.5px;
    width: 100%;
    position: absolute;
    background: #4A4A4A;
    margin: 0 auto;
}
.menu-burger__header span{
    top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
    content: '';
}
.menu-burger__header:after{
    bottom: 1.5px;
}
.menu-burger__header:before{
    top: 1.5px;
}
.menu-burger__header.open-menu span {
    opacity:0;
    transition: 0.5s;
}
.menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 18px;
    transition: 0.4s;
}
.menu.open-menu {
    left: 0;
}

.header{
    background-color: #E6E6E6;
    background-position: top center;
    background-size: cover;
    min-height: 100px;
    color: black;
}

.title{
  color: #4A4A4A;
  margin-bottom: -20px;
}

.block_title{
  padding-bottom: 20px;
}

.content_blocks{
  margin-top: 40px;
  margin-bottom: 60px;
}

.block{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.block__img1{
  width: 50%;
  margin-left: 30px;
}

.block__img2{
  width: 25%;
  margin-right: 30px;
}

.block__img1,
.block__img2{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

.block__text{
  margin-top: auto;
  margin-bottom: auto;
}

.footer{
  background-color: #4A4A4A;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__inner{
  padding-top: 30px;
}

@media (max-width: 900px) {
  .block__img1{
    width: 100%;
    margin-left: 0px;
  }
  .block__img2{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .title{
    margin-bottom: 0px;
  }
  .block{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 700px) {
    .menu{
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
    }
    .menu__link{
      display: block;
      margin: 15px 0px 15px 18px;
      font-size: 14px;
    }
    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-right: 10px;
    }
    .logo__img{
      width: 150px;
      height: 45px;
    }
    .title{
      font-size: 14px;
    }
    .block_title{
      font-size: 14px;
      padding-bottom: 5px;
    }
    .smalltext{
      font-size: 12px;
    }
    .content_blocks{
      margin-top: 20px;
      margin-bottom: 30px;
    }
}

@media (max-width: 420px) {
    .menu__link{
      display: block;
      margin: 10px 0px 10px 14px;
      font-size: 12px;
    }
    .logo__img{
      width: 100px;
      height: 30px;
    }
    .title{
      font-size: 12px;
    }
    .block_title{
      font-size: 12px;
      padding-bottom: 5px;
    }
    .smalltext{
      font-size: 10px;
    }
    .header{
      min-height: 70px;
    }
}
